:root {
    --padding: 0.45em;
}
body,
html {
    box-sizing: border-box;
    background: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
    height: 100%;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

#pinned-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    transition: 0.1s ease-in min-height;
    width: 100%;
}

#pinned-tabs[data-tabs-count~="0"] {
    min-height: 29px;
}

body.hide-empty-pinned:not(.tab-dragged) #pinned-tabs[data-tabs-count="0"] {
    height: 0;
    min-height: 0;
}

.tab-dragged #pinned-tabs:empty::after, body:not(.hide-empty-pinned) #pinned-tabs:empty::after {
    transform: translateY(0);
}

#pinned-tabs:empty::after {
    content: '__MSG_sidebar_dragToPin__';
    transition: 0.05s ease-in transform;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    text-align: center;
    color: var(--color-accent);
    line-height: 29px;
}

#pinned-tabs .container-tab {
    flex-basis: 20x;
    border-top: 3px solid var(--color-default-container);
}

main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#containers {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    line-height: 1.3em;
    vertical-align: middle;
    color: var(--color-text);
}

li {
    list-style: none;
}

.container-header {
    width: 100%;
    padding: calc(var(--padding) / 3);
    background: var(--color-container-background);
    display: flex;
    align-items: center;
    align-content: center;
    border-left-width: 0.3em;
    border-left-style: solid;
}

.container-header .container-icon {
    width: 25px;
    min-width: 25px;
    padding: 0 calc(var(--padding) / 2);
    margin: 0;
}

.container-header:hover {
    cursor: pointer;
}

.container-tabs {
    width: 100%;
    display: block;
    padding-inline-start: 0.3em;
}

.container-tab {
    background: var(--color-tab-background);
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    padding: var(--padding);
}

.container-tabs li:not(:last-child) .container-tab{ 
    border-bottom: 1px solid var(--color-background);
}

.container-tab:hover {
    cursor: pointer;
    background: var(--color-hover)
}

.container-tab .favicon {
    flex-basis: 16px;
    max-width: 16px;
    height: 16px;
}

.container.collapsed ul {
    display: none;
    visibility: collapse;
}

.container-actions {
    display: flex;
    justify-content: center;
    margin-left: auto;
    color: var(--color-text);
}

.container-actions .container-action {
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    background: var(--color-container-background)
}

.container-actions .container-action:hover,
.container-tab-close:hover, .container-tab-action:hover {
    background: rgba(255, 255, 255, 0.1);
}

.container-tab-title {
    margin-left: 0.2em;
    flex-basis: 100%;
}

body:not(.wrap-titles) .container-tab-title, .container-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-actions .container-action--newtab {
    font-size: 20px;
}

.tab-active,
.tab-active:hover,
.tab-highlighted,
.tab-highlighted:hover {
    background: var(--color-focus)
}

.container-tab:hover .container-tab-close {
    display: flex;
}

.container-tab-close, .container-tab-action {
    padding: 0em;
    margin-left: 0.1em;
    display: none;
    color: var(--color-close);
    font-size: 1.5em;
    align-items: center;
    border-radius: 3px;
    align-self: stretch;
    text-align: center;
}

.container-tab-action--mute {
    margin-left: auto;
    opacity: 0.7;
    flex-basis: 16px;
    min-width: 16px;
    height: 16px;
    display: none;
}

.container-tab-count {
    padding-left: 0.5ch;
}

.container-tab-count::before {
    content: '(';
}

.container-tab-count::after {
    content: ')';
}

.audible.container-tab-action--mute {
    display: inline-block;
}

:not(.tab-pinned).container-tab-dragged-over,
.container-dragged-over .container-header, .container-identity-dragged-over {
    border-bottom: 1px solid var(--color-text) !important;
}

#pinned-tabs .container-tab-dragged-over {
    border-right: 1px solid var(--color-text);
}

#pinned-tabs.container-dragged-over {
    border-left: 1px solid var(--color-text);
}


.tab-pinned .container-tab-action--mute {
    position: absolute;
    width: 8px;
    height: 12px;
    right: 0;
    top: 0;
}

.tab-pinned :not(.favicon):not(.container-tab-action--mute) {
    display: none !important;
}

.hide-empty [data-tabs-count="0"] {
    display: none;
}
