body, html {
    box-sizing: border-box;
    background: #333;
    height: 100vh;
    overflow: hidden;
}

#pinned-tabs {
    display: flex;
    margin: 0;
    padding: 0;
}

#pinned-tabs .container-tab {
    flex-basis: 20px;
    border-bottom: 3px solid #fff;
}

main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#containers {
    padding: 0;
    margin: 0;
}

.container {
    list-style: none;
    line-height: 1.3em;
    vertical-align: middle;
    color: #fff;
    width: 100%;
}

.container-header {
    padding: 0.3em;
    background: #111;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #222 !important;
    border-bottom-style: solid;
    border-left-width: 0.5em;
    border-left-style: solid;
    width: 100%;
}

.container-header .container-icon {
    width: 25px;
    padding: 2px;
    margin: 0;
    filter: grayscale(1) invert(100%);
}

.container-header:hover {
    cursor: pointer;
}

.container-tabs {
    width: 100%;
    display: block;
    padding-inline-start: 5px;
}

.container-tab {
    background: #222;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px;
    border-bottom: 1px solid #333;
}

.container-tab:hover {
    cursor: pointer;
    background: rgb(24, 24, 24);
}

.container-tab .favicon {
    flex-basis: 16px;
    height: 16px;
}

.container.collapsed ul {
    display: none;
    visibility: collapse;
}

.container-actions {
    display: flex;
    justify-content: center;
    margin-left: auto;
    color: #eee;
}

.container-actions .container-action {
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
}

.container-actions .container-action:hover, .container-tab-close:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.container-tab-title {
    margin-left: 0.2em;
    word-break: break-all;
}

.container-actions .container-action--newtab {
    font-size: 20px;
}

.tab-active, .tab-active:hover {
    background: rgb(21, 107, 187);
}

.container-tab-close {
    padding: 0.1em;
    margin-right: 0.1em;
    color: #aaa;
    font-size: 1.3em;
    border-radius: 3px;
    text-align: center;
}

.container-tab-dragged-over {
    border-bottom: 1px solid #eee;
}
#pinned-tabs .container-tab-dragged-over {
    border-right: 1px solid #eee;
}