:root {
    --color-background: #333;
    --color-text: #eee;
    --color-accent: #555;
    --color-hover:rgb(24, 24, 24);
    --color-focus: rgba(255, 255, 255, 0.116);
    --color-default-container: #fff;
    --color-container-background: #111;
    --color-container-border: #222;
    --color-tab-background: #222;
    --color-close: #ccc;
    --color-icon: #eee;
}

.container-header .container-icon {
    filter: grayscale(1) invert(1);
}

.tab-pinned .container-tab-action--mute:hover {
    filter: grayscale(1) invert(0);
    background: rgba(255,255,255,0.9) !important;
    opacity: 1;
}

:not(.tab-pinned) .container-tab-action--mute:hover {
    background: rgba(0, 0, 0,0.1);
}

.container-tab-action--mute {
    filter: grayscale(1) invert(100%);
}