:root {
    --color-background: #e3e4e6;
    --color-text: rgb(24,25,26);
    --color-accent: #555;
    --color-hover: #e3e4e6;
    --color-focus: rgba(0, 0, 0, 0.1);
    --color-default-container: #fff;
    --color-container-background: #ffffff;
    --color-container-border: #e3e4e6;
    --color-tab-background: #ececec;
    --color-close: var(--color-icon);
    --color-icon: rgba(24, 25, 26, 0.35);
}

.favicon-fallback {
    filter: invert();
}

.tab-pinned .container-tab-action--mute:hover {
    filter: grayscale(1) invert(1);
    background: rgba(255,255,255,0.9) !important;
}

:not(.tab-pinned) .container-tab-action--mute:hover {
    background: rgba(0, 0, 0,0.1);
}

.container-actions .container-action:hover,
.container-tab-close:hover, .container-tab-action:hover {
    background: rgba(0,0,0, 0.1);
}